<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contact.phone %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
